doctype 5
html(lang="en")
    include includes/head
    body
        include includes/menu

        div(class="container-fluid")
            div(class="row-fluid")
                div(class="span12 title-box")
                    h2 Everyone
                    span(
                        id="everyone-toggle", 
                        data-toggle="true", 
                        data-target="#everyone") Hide

                    div(class="legend")
                        div(class="color-experience") 
                        span Experience 
                        div(class="color-knowledge") 
                        span Knowledge
                        div(class="color-motivation") 
                        span Motivation

            div(class="row-fluid collapse in")
                div(class="span12 imagebox", id="everyone")

            div(class="row-fluid")
                div(class="span12 title-box")
                    h2 Team Maps
                        span(
                            id="team-map-toggle",
                            data-toggle="true", 
                            data-target="#team-map") Hide
                        span(id="new-team-create") New Team

            div(class="row-fluid")
                div(class="span12 imagebox team-boxes")
                    div(id="untitled-team", class="team-box")
                        div(class="team-box-title")
                            span Untitled Team
                                i(class="icon-pencil")
                            div(class="btn-group") 
                                a(id="resize", class="btn", href="#")
                                    i(class="icon-resize-full")
                        div(class="team-graph-box")
                            div(class="drag-here-placeholder")
                                div(class="inner")
                                    | Drag
                                    br
                                    | Here
                        div(class="team-icon-box")

        include includes/scripts
        script(src="js/radargraph.js")
        script
            app.setupMenubar();
            $(document).ready(function () {
                app.init();     
                app.getData();
            });
