doctype 
html(lang="en")
    include includes/head
    body
        include includes/menu
        div(class="container-fluid")
            div(class="row-fluid")
                div(class="span6 offset3 login-form-box")
                    h1 Competency Map Login
                    form(action="/login", method="post", class="form-horizontal")
                        div(class=typeof errormsg === "undefined" ? "alert" : "alert alert-error")
                            if (typeof errormsg === "undefined")
                                | Log in with your startsiden 
                                b JIRA / Confluence 
                                | credentials.
                            else
                                b Error:
                                | #{errormsg}
                                | Try again 
                        div(class="control-group")
                            label(class="control-label", for="username") Username
                            div(class="controls")
                                input(
                                    class="span8"
                                    type="text", 
                                    name="username", 
                                    id="username", 
                                    placeholder="Username")
                        div(class="control-group")
                            label(class="control-label", for="password") Password
                            div(class="controls")
                                input(
                                    class="span8",
                                    type="password", 
                                    name="password", 
                                    id="password",
                                    placeholder="Password")
                        div(class="control-group")
                            div(class="controls")
                                button(type="submit", class="btn btn-primary") Login

        include includes/scripts
        script
            app.setupMenubar();
